{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Products{% endblock %}</h1>
    <a class="action" href="{{ url_for('journal.create_product') }}">Create</a>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.type }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
