{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Product: {{ product.name }} {% endblock %}</h1>
    <a class="action" href="{{ url_for('journal.create_trade', product_id=product.id) }}">Create trade</a>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Time</th>
            <th>Side</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for trade in trades %}
        <tr>
            <td>{{ trade.datetime }}</td>
            <td>{{ trade.side }}</td>
            <td>{{ trade.price }}</td>
            <td>{{ trade.quantity }}</td>
            <td><a class="action" href="{{ url_for('journal.update_trade', product_id=product.id, trade_id=trade.id) }}">Edit</a></td>
            <td><a class="action" href="{{ url_for('journal.delete_trade', product_id=product.id, trade_id=trade.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
